<div class="row">
  <div class="col-lg-12">
    <h1>イベント情報一覧</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <p>イベント情報が表示されます。</p>
  </div>
  <div class="col-lg-6">
    <%= link_to 'イベント登録', new_event_path, class: "btn btn-default pull-right" %>
  </div>
  <table class="table table-striped">
    <thead>
      <th>イベント名</th>
      <th>日時</th>
      <th>場所</th>
      <th>詳細</th>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.event_name %></td>
          <td><%= event.event_date %></td>
          <td><%= event.place %></td>
          <td><%= link_to '詳細', event, class: "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
